arrowParens: always
bracketSpacing: true
printWidth: 120
quoteProps: consistent
semi: true
singleQuote: true
tabWidth: 2
trailingComma: none
useTabs: false
plugins:
  - prettier-plugin-svelte
pluginSearchDirs: [.]
overrides:
  - files: "*.svelte"
    options:
      parser: svelte
