<footer>
  <div class="container">
    <div class="row">
      <div class="nine columns">
        &copy; 2020 Copyright, <a href="/">Scott Stephens</a>.
        All Rights Reserved.
      </div>
      <div class="three columns">
        <ul class="social-list">
          {% for link in site.data.social %}
          <li>
            <a href="{{link.link}}" title="{{link.name}}">
              <img src="{{link.icon}}" alt="{{link.name}}" />
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
