<div class="navbar-spacer"></div>
<div class="mobile-menu">
  <div class="container">
    <img class="u-pull-right" src="/static/icons/hamburger.svg" alt="menu" onclick="javascript: toggleNavMenu()">
  </div>
</div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      {% for item in site.data.pages %}
        <li class="navbar-item">
          <a href="{{ item.url }}" class="navbar-link{% if item.category == page.category %} active{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
