<h4>Profile</h4>
<p>
  Senior Software Engineer with more than 30 years of experience in a broad range of disciplines. Started out
  working my way up to software engineer inside a major database software company, (Oracle), producing
  several commercial products. Leader for technology standards at the company. Helped set up software
  business and development environments in several countries. Was managing director of a small GIS,
  database and webserver software provider. Built software middleware for tablets controlling wifi, bluetooth
  hardware communication and keyboard input widget. Managed ETL jobs and reports for marketing at a
  bank.
</p>
