<div class="sidebar">
  <table class="u-full-width sidebar-header">
    <tr><td class="center">
      <img class="avatar" src="/static/images/avatar.jpg" alt="Avatar">
    </td></tr>
    <tr>
      <td class="center">
        <h5>Scott Stephens</h5>
        <h6>Software Engineer</h6>
      </td>
    </tr>
  </table>
  <table class="sidebar-section">
    {% for link in site.data.social %}
      <tr>
        <td>
          <a href="{{ link.link }}" title="{{ link.name }}">
            <img src="{{ link.icon }}" alt="{{ link.name }}" />
          </a>
        </td>
        <td>
          <a href="{{ link.link }}" title="{{ link.name }}">
            {{ link.text }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
