doctype html
html
  head
    title Scott Stephens, Software Engineer
  body
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/cv') CV
        li: a(href='/blog') Blog
    .container
      .blurb
        h1 Hi there, I'm Scott Stephens!
        p: a(href='/about') Read more about my skills
    footer
      ul
        li: a(href='mailto:zahi.stephens@gmail.com') email
        li: a(href='https://github.com/swstephe') github.com/swstephe
