## About me

I am a Senior Software Engineer with a broad range of experience for more than 30 years in the IT industry, including
managing, training and customer support.  Managing Director of small GIS and database software provider.  Developed
Software and designed databases for Oracle Corporation, Ricoh, Bank of the West, Starbucks, Akamai, Premiere Digital
Services and several startups.  Author of “py2jdbc” Python package on Pypi to integrate Python and Java Database APIs.

